* {
  scrollbar-width: auto;
  scrollbar-color: #202121 #f3f3f3;
}

*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-track {
  background: #f3f3f3;
}

*::-webkit-scrollbar-thumb {
  background-color: #202121;
  border-radius: 15px;
}

.dark {
  * {
    scrollbar-width: auto;
    scrollbar-color: #f4f7f6 #0f0f0f;
  }

  *::-webkit-scrollbar {
    width: 4px;
  }

  *::-webkit-scrollbar-track {
    background: #0f0f0f;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #f4f7f6;
    border-radius: 15px;
  }
}
